@media(max-width: 375px){
    
    .intro{
        height: 100vh;
        width: 100%;
        background-color: rgb(0, 0, 0);
        position: absolute;
        z-index: 9;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition: transform 1s ease;
        border: 2px solid black;
        border-radius: 10px;
        /* display: none; */
    }
    
    .intro img{
        height: 2vw;
        width: 1vw;
        overflow: hidden;
    }

    nav{
        height: 5vh;
        width: 100%;
        overflow: hidden;
        background-color: black;
        display: flex;
        align-items: center;
    }
    
    nav .microsoft-logo{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vh;
        width: 40%;
        /* border: 2px solid white; */
    }
    
    nav img{
        height: 40%;
        width: 60%;
    }
    
    nav .links{
        height: 7vh;
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
        cursor: pointer;
        display: none;
    }
    
    nav .links p:hover{
        text-decoration: underline;
    }
    
    nav .links p{
        color: white;
        font-size: smaller;
    }
    
    nav .search{
        height: 10vh;
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        display: none;
    }
    
    nav .search .search-box{
        width: 80%;
        height: 40%;
        border-radius: 20px;
        border: none;
        text-align: center;
        display: none;
        
    }
    
    nav .search i{
        color: black;
        background-color: white;
        border-radius: 50%;
        height: 37%;
        width: 7%;
        font-size: 1.1vw;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        display: none;
    }
    
    nav .dropdown-menu{
        color: white;
        width: 25%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 2px solid rgb(255, 1, 1); */
    }
    
    nav .dropdown-menu p{
        cursor: pointer;
        font-size: 70%;
    }
    
    nav .dropdown-menu p:hover{
        text-decoration: underline;
    }
    
    nav .user-logo i{
        color: white;
        font-size: large;
        cursor: pointer;
    }
    
    nav .user-logo{
        height: 10vh;
        width: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 2px solid rgb(10, 240, 44); */
        margin-left: 15vw;
    }
    
    nav .menu i{
        color: white;
        visibility: hidden;
    }
    
     .all-microsoft{
        width: 100%;
        height: 20vh;
        background-color: rgb(236, 236, 236);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        display: none;
        transform: translateY(-100%);
        opacity: 0;
        transition: transform 0.5s ease-in-out, visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
        scroll-behavior: smooth;
        visibility: hidden;
    }
    
     .all-microsoft .box{
        height: 100%;
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 80%;
    }
    
    .all-microsoft .box .paragraph{
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        justify-content: space-evenly;
        justify-content: flex-start;
        margin-top: 2vw;
        gap: 2vw;
        /* border: 2px solid rgb(255, 26, 26); */
    }

    .all-microsoft .box .paragraph p{
        font-size: 4px;
    }
    
    .all-microsoft .box span{
        font-weight: bolder;
        font-size: 50%;
    }
    
    .all-microsoft .box p:hover{
        cursor: pointer;
        text-decoration: underline;
    }
    
    /* Divider ------------------------------------------- */
    
    main .divider{
        width: 90%;
        height: 1px;
        background-color: black;
        margin-left: 1.5vw;
        margin-top: 2vw;
    }
    
    /* main section ------------------------------------------- */
    
    main .header{
        width: 100%;
        height: 25vh;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding: 6vw 1vw;
        text-align: left;
    }
    
    main .header .redefine{
        font-size: 20vw;
    }
    
    main .header .possib{
        font-size: 10vw;
    }
    
    main .header h1{
        font-size: 10vw;
        line-height: 13vw;
    }
    
    main .header .microsoft{
        font-size: 15vw;
        background: linear-gradient(to right, #0A63B1, #B1ABE5, #EAE2F7);
        -webkit-background-clip: text;
        color: transparent;
    }
    
    /* main section page 1------------------------------------------- */
    
    main .page1{
        height: 20vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        /* overflow: hidden; */
    }
    
    main .ms-apps{
        height: 30vh;
        width: 45%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    
    main .ms-apps img{
        height: 40%;
        width: 100%;
        overflow: hidden;
    }
    
    main .ms-apps img:hover{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        cursor: pointer;
    }
    
    main .ms-apps-info{
        height: 30vh;
        width: 45%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-items: flex-start;
        overflow: hidden;
    }
    
    .ms-apps-info .heading{
        height: 20%;
        overflow: hidden;
        /* border: 1px solid white */
    }
    
    .ms-apps-info .heading h1{
        font-size: 80%;
    }
    
    .ms-apps-info .info{
        height: 20%;
        width: 80%;
        overflow: hidden;
        /* border: 1px solid white */
    }
    
    .ms-apps-info .info p{
        font-size: 50%;
    }
    
    .ms-apps-info .buttons{ 
        height: 10%;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        justify-content: space-between;
        overflow: hidden;
        border: 1px solid white;
        margin-top: -2vw;
    }
    
    .ms-apps-info .buttons .btn1{
        border-radius: 50px;
        border: none;
        background-color: #0A63B1;
        color: white;
        cursor: pointer;
        /* font-weight: 300; */
        padding: 0.8vw 2vw;
        height: 60%;
        width: 40%;
        font-size: 4px;
        transition: background-color 0.2s ease-in-out;
    }
    
    .ms-apps-info .buttons .btn1:hover{
        background-color: #003869;
    }
    
    .ms-apps-info .buttons .btn2{
        background-color: transparent;
        padding: 1vw 1vw;
        font-size: medium;
        color:#0A63B1;
        font-weight: bold;
        font-size: 15%;
        cursor: pointer;
        border: none;
        height: 60%;
        width: 60%;
    }
    
    /* main divider 2------------------------------------------- */
    
    main .divider2{
        width: 90%;
        height: 1px;
        background-color: black;
        margin-left: 3.5vw;
        margin-top: 2vw;
    }
    
    /* main section page 2 ------------------------------------------- */
    
    main .page2{
        height: 30vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-evenly;
        /* background-color: pink; */
    }
    
    .page2 .box{
        height: 30vh;
        width:20%;
        transition: box-shadow 0.2s ease-in-out;
    }
    
    .page2 .box .image-box{
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .page2 .box .image-box img{
        height: 70%;
        width: 100%;
    }
    
    .page2 .box .heading-box{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 2vw;
        /* border: 1px solid black; */
        width: 100%;
        height: 20%;
        margin-top: -4vw;
    }

    .page2 .box .heading-box h3{
        font-size: 45%;
    }
    
    .page2 .box .info-box{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1vw 2vw;
        /* border: 1px solid black; */
        height: 30%;
    }

    .page2 .box .info-box p{
        font-size: 45%;
    }
    
    .page2 .box .button{
        height: 4vw;
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 1px solid black; */
    }
    
    .page2 .box button{
        height: 100%;
        width: 80%;
        padding: 1vw;
        border-radius: 50px;
        border: none;
        color: white;
        font-weight: bold;
        background-color: #0A63B1;
        transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
        cursor: pointer;
        margin-top: 2vw;
        font-size: 4px;
    }
    
    .page2 .box button:hover{
        background-color: #003869;
        transform: scale(1.1);
    }
    
    .page2 .box:hover{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        cursor: pointer;
    }
    
    /* main divider 3------------------------------------------- */
    
    /* main .divider3{
        width: 90%;
        height: 3px;
        background-color: black;
        margin-left: 3.5vw;
        margin-top: 2vw;
    } */
    
    /* main section page 3 ------------------------------------------- */
    
    main .page3{
        height: 30vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* background-color: aqua; */
    }
    
    main .page3 .game-covers{
        height: 30vh;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 1vw;
        justify-content: space-around;
        margin-bottom: 2vw;
        margin-top: 4vw;
    }
    
    main .game-covers img{
        height: 50%;
        width: 40%;
        margin-bottom: 2vw;
    }
    
    main .game-covers-info{
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        /* border: 1px solid black; */
    }
    
    .page3 .game-covers-info h1{
        font-size: 100%;
    }
    
    /* main divider 4------------------------------------------- */
    
    /* main .divider4{
        width: 90%;
        height: 3px;
        background-color: black;
        margin-left: 3.5vw;
        margin-top: 2vw;
    } */
    
    /* main section page 4 ------------------------------------------- */
    
    main .page4{
        height: 30vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to right, rgb(0, 37, 169), rgb(58, 126, 251));
    }
    
    main .page4 .gamepass{
        height: 20vh;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    main .page4 .gamepass .box1{
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #1A1A1A;
        color: white;
        /* background-color: palegreen; */
    }
    
    main .page4 .gamepass .box1 .heading{
        height: 30%;
        width: 50%;
        /* border: 1px solid black; */
    }
    
    .gamepass .box1 .heading h1{
        font-size: 70%;
    }

    main .page4 .gamepass .box2{
        height: 100%;
        width: 50%;
    }
    
    main .page4 .gamepass .box2 img{
        height: 100%;
        width: 100%;
    }
    
    main .page4 .gamepass .box1 .paragraph{
        height: 20%;
        width: 50%;
        /* border: 1px solid black; */
        margin-top: -4vw;
    }

    .gamepass .box1 .paragraph p{
        font-size: 10%;
    }
    
    main .page4 .gamepass .box1 .button-box{
        height: 10%;
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 1px solid black; */
    }
    
    main .page4 .gamepass .box1 button{
        /* padding: 1vw 3vw; */
        height: 100%;
        border-radius: 50px;
        font-size: 30%;
        border: none;
        color: white;
        background-color: #0A63B1;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out
    }
    
    main .page4 .gamepass .box1 button:hover{
        transform: scale(1.1);
        background-color: #003869;
    }
    
    /* main divider 5------------------------------------------- */
    
    /* main .divider5{
        width: 90%;
        height: 3px;
        background-color: black;
        margin-left: 3.5vw;
        margin-top: 2vw;
    } */
    
    /* main section page 5 ------------------------------------------- */
    
    main .page5{
        height: 40vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
        /* background-color: pink; */
    }
    
    main .page5 .box{
        height: 40vh;
        width: 25%;
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
    
    main .page5 .box .image-box{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40%;
        overflow: hidden;
    }
    
    main .page5 .box img{
        height: 100%;
        width: 100%;
    }
    
    main .page5 .box3 .image-box-2 img{
        height: 120%;
        width: 120%;
    }
    
    main .page5 .heading-box{
        height: 10%;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* border: 1px solid salmon; */
    }

    .page5 .heading-box h3{
        font-size: 70%;
    }
    
    main .page5 .box:hover{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        cursor: pointer;
    }
    
    main .page5 .info-box{
        height: 20%;
        margin-top: 2vw;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: -10vw;
    }
    
    .page5 .info-box p{
        font-size: 40%;
    }

    main .page5 .button{
        height: 4vw;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid peru; */
        margin-top: -8vw;
    }
    
    main .page5 .button button{
        padding: 1vw;
        height: 100%;
        border-radius: 50px;
        color: white;
        background-color: #0A63B1;
        font-weight: bold;
        font-size: 40%;
        border: none;
        transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
    }
    
    main .page5 .button button:hover{
        cursor: pointer;
        background-color: #003869;
        transform: scale(1.1);
    }
    
    /* main section page 6 ------------------------------------------- */
    
    main .page6{
        height: 20vh;
        width: 100%;
        padding: 3vw 2vw;
        display: flex;
        align-items: center;
    }
    
    main .page6 .follow{
        margin-bottom: 1vw;
        font-weight: bold;
        width: 80%;
        height: 5vh;
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        align-items: center;
        font-weight: lighter;
    }
    
    main .page6 .follow i{
        font-size: larger;
    }
    
    main .page6 .follow i:hover{
        cursor: pointer;
    }
    
    /* main section page 7 ------------------------------------------- */
    
    main .page7{
        background-color: #201e1e;
        height: 25vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        overflow: hidden;
        color: white;
    }
    
    main .page7 .box{
        height: 25vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        justify-content: flex-start;
        gap: 2vw;
        margin-top: 20vw;
        /* border: 1px solid orange; */
    }
    
    main .page7 .box p{
        font-weight: lighter;
        font-size: 4px;
    }
    
    main .page7 .box p:hover{
        cursor: pointer;
        text-decoration: underline;
    }
    
    main .page7 .box span{
        font-weight: bold;
        font-size: 40%;
    }
}